---
import { Image } from "@astrojs/image/components";
import config from "@config/config.json";
const { src } = Astro.props;
const {
  logo,
  logo_width,
  logo_height,
  logo_text,
  title,
  show_logo,
}: {
  logo: string;
  logo_width: any;
  logo_height: any;
  logo_text: string;
  title: string;
  show_logo: boolean;
} = config.site;
---

<a href="/" class="navbar-brand block md:w-[150px] lg:w-auto">
  {
    show_logo ? (
      src || logo ? (
        <Image
          width={logo_width.replace("px", "") * 2}
          height={logo_height.replace("px", "") * 2}
          src={src ? src : logo}
          alt={title}
          style={{
            height: logo_height.replace("px", "") + "px",
            width: logo_width.replace("px", "") + "px",
          }}
        />
      ) : logo_text ? (
        logo_text
      ) : (
        title
      )
    ) : (
      logo_text
    )
  }
</a>
